/*Limpando formatação*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: #e6e6e6;
}

/***** Layout ***/

#cabecalho {
  background-color: #f7b600;
  padding: 10px;
  text-align: center;
}

#area-logo,
#area-menu {
  padding: 20px;
}

#principal {
  width: 920px;
  margin: 0px auto;
  padding: 20px;
}

#area-postagens {
  width: 660px;
  float: left;
}

#area-lateral {
  width: 240px;
  float: right;
}

.postagem {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

.conteudo-lateral{
  background-color: #FFF;
  padding: 10px;
  margin-bottom: 20px;
}

.postagem-lateral{
  font-size: 0.8em;
  padding: 5px;
  border-bottom: 1px dotted #CCC;
}

.link-lateral{
  display: block;
  padding: 5px;
}

.link-lateral:hover{
  text-decoration: none;
  background-color: #f7b600;
  color: #FFF;
}

#rodape {
  clear: both;
  padding: 15px;
  text-align: center;
  background-color: #ccc;
}

/***** Formatação do menu ***/

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f7b600;
}

a:hover {
  color: #f7b600;
  text-decoration: underline;
}

#cabecalho a:link,
#cabecalho a:visited {
  color: #fff;
  padding: 8px 12px;
}

#cabecalho a:hover { /*Formata somente os links que estiverem dentro do cabecalho*/
  color: #f7b600; 
  background-color: #fff;
  text-decoration: none;
  /*Como foi definido uma formatação mais genérica acima,
   no cabeçalho irá ter o text-decoration como underline pois essa propriedade foi
    herdada. Para poder resolver isso, você tem que sobrescrever a formatação*/
}

/***** Formatação em geral ***/

h1 {
  color: #4e4e4e;
  font-size: 2.5em;
}

h2 {
  color: #f7b600;
}

h3 {
  color: #565656;
  background:#ccc;
  padding: 6px;
  margin-bottom: 5px;
}

.branco {
  color: #fff;
}

.texto-postagem {
  margin-bottom: 10px;
}

.data-postagem {
  font-size: 0.8em;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: block;
}

.non-border{
  border: none;
}